@import '~bootstrap/scss/bootstrap';

.grid-container {
	display: grid;
	grid-template-columns: 20% 30% 30% auto;
	column-gap: 1em;
}

.restaurateurs-table {
	.t-body {
		display: grid;
		grid-template-columns: 100%;
		row-gap: 5px;

		.t-row:hover {
			background-color: $gray-800;
		}
	}
}

label {
	color: white;
	text-transform: capitalize;
}