@use './partials/variables' as *;
@use './partials/mixins' as *;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;;
}

// Utilities

.my-bg-primary {
	background-color: $primary_color;
}

.my-text-primary {
	color: $primary_color;
}

.my-bg-light {
	background-color: $light_color;
}

.my-text-light {
	color: $light_color;
}

.my-bg-dark {
	background-color: $dark_color;
}

.my-text-dark {
	color: $dark_color;
}
.my-bg-grey {
	background-color: $grey_color;
}

.my-text-grey {
	color: $grey_color;
}

// Style

body {
	font-family: 'Rubik', sans-serif;
	color: $dark_color;
}

header.my-header {
	height: 80px;
}

.admin-vh-100 {
	height: calc(100vh - 80px);

	main,
	#sidebarMenu {
		height: 100%;
		overflow-y: auto;
	}
}

.item-controllers, .grid-item {
	a {
		color: $dark_color;
		text-decoration: none;
	}
}

.grid-item {
	a:hover {
		text-decoration: underline;
	}
}

// Sidebar

#sidebarMenu {
	ul {
		display: grid;
		grid-template-columns: auto;
		row-gap: 0.5em;


		// List Items

		li {
			a {
				color: $light_color;
			}
		}
		
		li.nav-item:hover {
			background-color: rgba($color: $light_color, $alpha: 0.3);
		}

		li.nav-item.my-selected {
			background-color: $light_color;

			a {
				color: $primary_color;
			}
		}


		li.nav-item.my-selected:hover {
			background-color: rgba($color: $light_color, $alpha: 1);
		}
	}
}

// Restaurant

h1.restaurant-name {
	font-size: 4em;
}

.restaurant-photo {
	img {
		object-fit: cover;
	}
}

// Plates

.plates-table {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		column-gap: 1em;
	}
}

.restaurateurs-table {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1em;
	}
}

.restaurateurs-table,
.plates-table {
	.t-body {
		display: grid;
		row-gap: 5px;

		.controllers {
			a {
				color: $dark_color;
			}
		}

		.t-row:hover {
			background-color: rgba($color: $dark_color, $alpha: 0.2);
		}
	}
}

label {
	color: white;
	text-transform: capitalize;
}

.image-size {
	width: 300px;
	height: 300px;
	object-fit: cover;

}

.btn-yellow {
	background-color: rgb(161, 146, 3);
	--bs-btn-padding-x: 0.75rem;
	--bs-btn-padding-y: 0.375rem;
	--bs-btn-font-family: ;
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 400;
	--bs-btn-line-height: 1.5;
	--bs-btn-color: #212529;
	--bs-btn-bg: transparent;
	--bs-btn-border-width: 1px;
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-hover-border-color: transparent;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
	font-family: var(--bs-btn-font-family);
	font-size: var(--bs-btn-font-size);
	font-weight: var(--bs-btn-font-weight);
	line-height: var(--bs-btn-line-height);
	color: var(--bs-btn-color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	border-radius: var(--bs-btn-border-radius);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-number-currency {
	position: relative;

	&:after {
		content: "\20AC";
		/* euro symbol in hexadecimal */
		position: absolute;
		top: 50%;
		right: 8px;
		/* adjust the distance of the symbol from the input */
		transform: translateY(-50%);
	}
}

// Profile Update

.update-profile-information, .update-password, .delete-account {
	.my-profile-headline {
		margin-bottom: 1em;
		h2 {
			font-weight: bold;
		}

		p {
			// margin-top: 8px;
			color: $grey_color;
			font-size: 1.3em;
		}
	}
	form {
		label {
			font-weight: bold;
			color: $dark_color;
		}
		.my-profile-input {
			margin-bottom: 1em;
		}
	}
}