@import '~bootstrap/scss/bootstrap';

header.admin-header {
	height: 80px;
}

.admin-vh-100 {
	height: calc(100vh - 80px);

	main, #sidebarMenu {
		height: 100%;
		overflow-y: auto;
	}
}

#sidebarMenu {
	ul {
		display: grid;
		grid-template-columns: auto;
		row-gap: 0.5em;

		li.nav-item:hover {
			background-color: $gray-800;
		}
	}
}

.grid-container {
	display: grid;
	grid-template-columns: 20% 30% 30% auto;
	column-gap: 1em;
}

.restaurateurs-table {
	.t-body {
		display: grid;
		grid-template-columns: 100%;
		row-gap: 5px;

		.t-row:hover {
			background-color: $gray-800;
		}
	}
}

label {
	color: white;
	text-transform: capitalize;
}

.image-size {
	width: 300px;
	height: 300px;
	object-fit: cover;

}